{lib_dirs, ["apps", "deps"]}.
{sub_dirs, [
    "apps/simplicitydb"
]}. 

% {erl_opts, [debug_info, warnings_as_errors, warn_unused_vars, {parse_transform, lager_transform}]}.
{erl_opts, [debug_info, warnings_as_errors, warn_unused_vars]}.

{xref_checks, [undefined_function_calls]}. % export_not_used

% Enable eunit code coverage reports
{cover_enabled, true}.

% Enable eunit XML output
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{clean_files, ["logs", "test/*.beam", ".eunit/*"]}.

{deps,
    [
        % {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}}
    ]
}.

